<div class="card mb-3">
  <h2 class="card-header h4">
    Designer #<%= designer.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Project</dt>
      <!-- Display project_id start -->
      <dd>
        <% if @designer.project.present? %>
          <%= link_to designer.project, designer.project %>
        <% end %>
      </dd>
      <!-- Display project_id end -->

      <dt>User</dt>
      <!-- Display user_id start -->
      <dd>
        <% if @designer.designers.present? %>
          <%= link_to designer.designers, designer.designers %>
        <% end %>
      </dd>
      <!-- Display user_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back designer, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link designer start -->
      <div class="col">
        <%= link_to edit_designer_url(designer), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link designer end -->

      <!-- Delete link designer start -->
      <div class="col">
        <%= link_to designer, method: :delete, data: { confirm: "Do you really want to delete this designer?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link designer end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(designer.updated_at) %> ago
  </div>
</div>
