<div class="card mb-3">
  <h2 class="card-header h4">
    Project #<%= project.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Project manager</dt>
      <dd>
        <% if @project.project_manager.present? %>
          <%= link_to project.project_manager, project.project_manager %>
        <% end %>
      </dd>

      <dt>Location</dt>
      <dd>
        <div>
          <%= render partial: "projects/one_photo_map" %>
        </div>
      </dd>

      <dt>Completion date</dt>
      <dd><%= project.completion_date %></dd>

      <dt>Name</dt>
      <dd><%= project.name %></dd>

      <dt>Description</dt>
      <dd><%= project.description %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back project, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @project.project_manager %>
          <%= link_to edit_project_url(project), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @project.project_manager %>
          <%= link_to project, method: :delete, data: { confirm: "Do you really want to delete this project?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(project.updated_at) %> ago
  </div>
</div>
