<!-- Form material start -->
<%= form_with(model: @material, local: true) do |f| %>
<!-- Form material end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for product_id start -->
  <!-- Input for product_id start -->
  <%= f.hidden_field :product_id, value: @product.id %>
  <!-- Input for product_id end -->
  <!-- Label and input for product_id end -->

  <!-- Label and input for detail_id start -->
  <div class="form-group">
    <%= f.label :detail_id %>

    <!-- Input for detail_id start -->
    <%= f.text_field :detail_id, class: "form-control" %>
    <!-- Input for detail_id end -->
  </div>
  <!-- Label and input for detail_id end -->

  <%= f.submit "Create material", class: "btn btn-block btn-outline-secondary" %>
<% end %>
