<div class="card mb-3">
  <h2 class="card-header h4">
    Supplier #<%= supplier.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= supplier.name %></dd>
      <!-- Display name end -->

      <dt>Location</dt>
      <!-- Display location start -->
      <dd><%= supplier.location %></dd>
      <!-- Display location end -->

      <dt>Contact information</dt>
      <!-- Display contact_information start -->
      <dd><%= supplier.contact_information %></dd>
      <!-- Display contact_information end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back supplier, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link supplier start -->
      <div class="col">
        <%= link_to edit_supplier_url(supplier), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link supplier end -->

      <!-- Delete link supplier start -->
      <div class="col">
        <%= link_to supplier, method: :delete, data: { confirm: "Do you really want to delete this supplier?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link supplier end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(supplier.updated_at) %> ago
  </div>
</div>
