<!-- Form saved_detail start -->
<%= form_with(model: @saved_detail, local: true) do |f| %>
<!-- Form saved_detail end -->

  <!-- Label and input for detail_id start -->
  <!-- Input for detail_id start -->
  <%= f.hidden_field :detail_id, value: @detail.id %>
  <!-- Input for detail_id end -->
  <!-- Label and input for detail_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <%= f.submit "Create saved detail", class: "btn btn-block btn-outline-secondary" %>
<% end %>
