<% was_validated = detail.errors.any? %>

<%= form_with(model: detail, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for project_id start -->
  <div class="form-group">
    <% project_class = "form-control" %>
    <% project_was_invalid = detail.errors.include?(:project) %>

    <% if was_validated %>
      <% if project_was_invalid %>
        <% project_class << " is-invalid" %>
      <% else %>
        <% project_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :project_id %>
    <!-- Input for project_id start -->
    <%= f.number_field :project_id, class: project_class, placeholder: "Enter project" %>
    <!-- Input for project_id end -->
    <% if project_was_invalid %>
      <% detail.errors.full_messages_for(:project).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for project_id end -->
  <!-- Label and input for designer_id start -->
  <div class="form-group">
    <% designer_class = "form-control" %>
    <% designer_was_invalid = detail.errors.include?(:designer) %>

    <% if was_validated %>
      <% if designer_was_invalid %>
        <% designer_class << " is-invalid" %>
      <% else %>
        <% designer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :designer_id %>
    <!-- Input for designer_id start -->
    <%= f.number_field :designer_id, class: designer_class, placeholder: "Enter designer" %>
    <!-- Input for designer_id end -->
    <% if designer_was_invalid %>
      <% detail.errors.full_messages_for(:designer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for designer_id end -->
  <!-- Label and input for success_score start -->
  <div class="form-group">
    <% success_score_class = "form-control" %>
    <% success_score_was_invalid = detail.errors.include?(:success_score) %>

    <% if was_validated %>
      <% if success_score_was_invalid %>
        <% success_score_class << " is-invalid" %>
      <% else %>
        <% success_score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :success_score %>
    <!-- Input for success_score start -->
    <%= f.text_field :success_score, class: success_score_class, placeholder: "Enter success score" %>
    <!-- Input for success_score end -->
    <% if success_score_was_invalid %>
      <% detail.errors.full_messages_for(:success_score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for success_score end -->
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = detail.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% detail.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = detail.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.file_field :image, class: "form-control" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% detail.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <!-- Label and input for name start -->
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = detail.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <!-- Input for name end -->
    <% if name_was_invalid %>
      <% detail.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for name end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
